body {
  background-image: url(assets/background.jpg.avif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.container {
  backdrop-filter: blur(30px);
  width: 100vw;
}
.clock {
  color: rgb(108, 115, 233);
  font-size: 6rem;
  font-weight: bold;
  font-family: monospace;
  text-shadow: 3px 3px 5px rgb(84, 83, 83);
  text-align: center;
}
